.footer {
     background-color: #f9f9f9;
     padding: 30px 80px;
     color: #333;
     font-family: Arial, sans-serif;
   }
   
   .newsletter {
     margin-bottom: 2rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
   .newsletter-text h2 {
     font-size: 1.2rem;
     font-weight: 600;
     text-align: left;
   }
   .newsletter-text p {
     font-size: 0.8rem;
     text-align: left;
     width: 60%;
     opacity: 0.5;
   }
   
   .newsletter-input {
     display: flex;
     flex-direction: column;
     margin: 1rem 0;
   }
   .newsletter-input p {
     font-size: 0.65rem;
   }
   
   .newsletter-input input {
     padding: 0.7rem 1rem;
     width: 350px;
     border: 1px solid #ccc;
     border-radius: 5px 0 0 5px;
   }
   
   .newsletter-input button {
     padding: 0.7rem 1rem;
     border: none;
     background-color: #5a3fad;
     color: white;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
   }
   
   .terms {
     font-size: 0.8rem;
     color: #666;
   }
   
   .terms a {
     color: #5a3fad;
     text-decoration: none;
   }
   
   .footer-content {
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
   }
   
   .footer-section {
     flex: 1 1 200px;
     gap: 10px;
     display: flex;
     flex-direction: column;
     p{
          font-size: 0.8rem;
          i{
               font-size: 1.4rem;
          }
     }
   }
   
   .footer-section h4 {
     font-size: 1rem;
     margin-bottom: 1rem;
   }
   
   .footer-section ul {
     list-style: none;
     padding: 0;
   }
   
   .footer-section ul li {
     margin-bottom: 0.5rem;
     font-size: 0.8rem;
   }
   
   .footer-section.app {
     flex: 1 1 300px;
   }
   
   .app-buttons a {
     display: flex;
     align-items: center;
     margin-bottom: 1rem;
     text-decoration: none;
     color: inherit;
   }
   
   .app-buttons img {
     width: 120px;
     margin-right: 1rem;
   }
   
   .social-media {
     margin-top: 1rem;
   }
   
   .social-icons a {
     font-size: 1.5rem;
     margin-right: 0.5rem;
     color: #5a3fad;
     text-decoration: none;
   }
   
   .social-icons a:hover {
     color: #333;
   }
   
   hr {
     border: 0;
     height: 1px;
     background-color: #ddd;
     margin: 2rem 0;
   }
   