.hero{
     display: flex;
     justify-content: space-between;
     padding: 30px 80px;
     
     .left-side{
          width: 20%;
          height: 100%;
          padding: 20px 0;
          .category, .brand, rating{
               border-bottom: 1px solid rgba(0, 0, 0, 0.185);
               padding-bottom: 10px;
          }
          p{
               padding: 15px 0;
               font-size: 18px;
               font-weight: 600;
          }
          ul{
               list-style: none;
               padding-left: 0;
               li label{
                    list-style-type: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
               }
          }
     }

     .right-side{
          width: 75%;
          height: 100%;
     }

}